@import "tailwindcss";

@theme {
  --color-primary: theme('colors.indigo.600');
  --color-secondary: theme('colors.purple.500');
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50 text-gray-900;
}
